<br><h1>Welcome, man !</h1>
<br><h4>Wanna join the club ? Leave your gossip online ! </h4>

<div class="row">


<div class="form-group col-5">
  <label class="col-form-label" for="inputDefault">Name</label>
  <input type="text" class="form-control" placeholder="Your name here..." id="inputDefault">
</div>

<div class="form-group col-5">
  <label class="col-form-label" for="inputDefault">Content</label>
  <input type="text" class="form-control" placeholder="Tell us everything..." id="inputDefault">
</div>

<div class="col-2">
  <button type="s" class="btn btn-danger disabled center">Submit !</button>
</div>

</div>
